.flight-info-col{
    overflow: hidden;
    animation: fade-in 0.3s linear;
    height: 100%;
}

.none{
    animation: fade-out 0.3s linear;
}

@keyframes fade-in{
    0%{
        height: 0px;
    }
    100%{
        height: 350px;
    }
}

@keyframes fade-out{
    0%{
        height: 350px;
    }
    100%{
        height: 0px;
    }
}